.open-dropdown {
    position: relative;
  }
  
  .open-expand {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
  }
  
  .dropdown-admin {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    list-style: none;
    padding: 8px 0;
    z-index: 1;
    width: auto;
    min-width: 0;
  }
  
  .dropdown-admin::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 14px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    transform: translateY(-50%) rotate(45deg);
  }
  
  .dropdown-admin li {
    padding: 5px 12px;
    cursor: pointer;
    color: black;
    white-space: nowrap;
    font-size: 16px;
  }
  
  .dropdown-admin li:hover {
    background-color: #f0f0f0;
  }