.custom-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    margin: 6px 0 15px;
    border: 1px solid #d1d5db;
    outline: none;
}

.custom-input input {
    outline: none;
    width: 100%;
    font-size: 16px;
}

.custom-input span {
    padding-right: 15px;
    color: #9ca3af;
    white-space: nowrap;
    font-size: 16px;
}

.custom-input:hover {
    border: 1px solid #457b9d;
}

.custom-input:focus-within {
    border: 2px solid #457b9d;
}
