.orders-box {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 30px 4%;
    margin-top: 20px;
}

@media (max-width: 991px) {
    .orders-box {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
}

.orders-box-item {
    border-radius: 15px;
    border: 0.05mm solid #0000001a;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 8% 10px;
    background-color: #fff;
    position: relative;
}

.orders-box-item .item-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.orders-box-item .box-item-title {
    text-align: center;
    margin-bottom: 5px;
}

.orders-box-item .box-item-number {
    text-align: center;
}

.cart-option {
    margin: 10px 0 20px;
    padding: 6px 10px 3px;
    border-bottom-width: 3px;
    cursor: pointer;
    transition: border-color 0.5s ease-in, color 0.5s ease-in;
}

.rs-picker-daterange-menu {
    right: 0 !important;
    left: auto !important;
  }
  